<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>Welcome to the Ministry of Transportation Trip Planner Application</h2>
    </div>

    <p> <%= WMLFinalResponse %></p>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>